/* You can add global styles to this file, and also import other style files */
@import '../../../libs/ui/src/styles/styles';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16pt;
  line-height: 24px;
  background-color: darkblue;
  color: white;
}
